<div class="text-amber-500 font-extrabold justify-center items-center text-center">
  <p>Lisää kirja</p>
  <form (ngSubmit)="submit_book()" [formGroup]="book_form" class="flex flex-col items-center">
    <input formControlName="nimi" placeholder="Kirjan nimi" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="kirjailija" placeholder="Kirjailija" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="julkaisuVuosi" type="number" placeholder="Julkaisuvuosi"
      class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="kuvaus" placeholder="Kuvaus" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="jarjestysNro" type="number" placeholder="Järjestysnumero"
      class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <select formControlName="sarja" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto"
      [disabled]="series_list.length === 0">
      <option *ngFor="let series of series_list" [value]="series.id">{{ series.title }}</option>
    </select>
    <div class="flex flex-col">
      <button class="rounded-lg hover:brightness-75 border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3" type="submit"
        [disabled]="series_list.length === 0">
        LISÄÄ
      </button>
      <span *ngIf="series_list.length === 0" class="text-red-600 text-sm">Lisätäksesi kirjan sinun täytyy ensin lisätä kirjasarja.</span>
    </div>
  </form>
  <p class="text-red-500">{{ book_form.status === 'INVALID' ? 'Jossain kentässä on epäkelpoa tietoa. Tarkista syötteet' : '' }}</p>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>Lisää kirjasarja</p>
  <form (ngSubmit)="submit_series()" [formGroup]="series_form" class="flex flex-col items-center">
    <input formControlName="title" placeholder="Sarjan nimi" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="kustantaja" placeholder="Kustantaja" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="kuvaus" placeholder="Kuvaus" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="luokittelu" placeholder="Luokittelu" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <div>
      <button class="rounded-lg hover:brightness-75 border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
        type="submit">LISÄÄ</button>
    </div>
    <p class="text-red-500">{{ series_form.status === 'INVALID' ? 'Jossain kentässä on epäkelpoa tietoa. Tarkista syötteet' : '' }}</p>
  </form>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>POISTA KIRJA</p>
  <select [(ngModel)]="remove_book_id" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto"
    [disabled]="book_list.length === 0">
    <option *ngFor="let book of book_list" [value]="book.id">{{ book.title }}</option>
  </select>
  <button class="rounded-lg hover:brightness-75 border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
    (click)="remove_book()">POISTA</button>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>POISTA SARJA</p>
  <select [(ngModel)]="remove_series_id" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto"
    [disabled]="series_list.length === 0">
    <option *ngFor="let series of series_list" [value]="series.id">{{ series.title }}</option>
  </select>
  <button class="rounded-lg hover:brightness-75 border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
    (click)="remove_series()">POISTA</button>
    <hr class="my-4 border-b-2 border-neutral-500">
    <p>Rekisteröi käyttäjä</p>
    <form (ngSubmit)="register_user()" [formGroup]="registration_form" class="flex flex-col items-center">
      <input formControlName="nimi" placeholder="Nimi" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
      <input formControlName="salasana" placeholder="Salasana" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
      <button class="rounded-lg hover:brightness-75 border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
        type="submit">REKISTERÖI</button>
    </form>
    <p class="text-red-500">{{ registration_form.status === 'INVALID' ? 'Tarkista syötteet' : '' }}</p>
</div>