<div class="text-amber-500 font-extrabold justify-center items-center text-center">
  <p>Lisää kirja</p>
  <form (ngSubmit)="submit_book()" [formGroup]="book_form" class="flex flex-col items-center">
    <input formControlName="nimi" placeholder="Kirjan nimi" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="kirjailija" placeholder="Kirjailija" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="julkaisuVuosi" type="number" placeholder="Julkaisuvuosi"
      class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <select formControlName="sarja" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto"
      [disabled]="seriesList.length === 0">
      <option *ngFor="let series of seriesList" [value]="series.id">{{ series.title }}</option>
    </select>
    <input formControlName="kuvaus" placeholder="Kuvaus" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="jarjestysNro" type="number" placeholder="Järjestysnumero"
      class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <div class="flex flex-col">
      <button class="rounded-lg border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3" type="submit"
        [disabled]="seriesList.length === 0">
        POST
      </button>
      <span *ngIf="seriesList.length === 0" class="text-red-600 text-sm">You need to add series before adding a
        book</span>
    </div>
  </form>
  <p class="text-white mt-4 md:mt-6">Value: {{ book_form.value | json }}</p>
  <p class="text-white">Validation status: {{ book_form.status }}</p>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>Lisää kirjasarja</p>
  <form (ngSubmit)="submit_series()" [formGroup]="series_form" class="flex flex-col items-center">
    <input formControlName="title" placeholder="Sarjan nimi" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="kustantaja" placeholder="Kustantaja" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="kuvaus" placeholder="Kuvaus" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <input formControlName="luokittelu" placeholder="Luokittelu" class="mt-2 md:mt-4 p-2 md:p-3 w-full md:w-auto">
    <div>
      <button class="rounded-lg border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
        type="submit">POST</button>
    </div>
    <p class="text-white mt-4 md:mt-6">Value: {{ series_form.value | json }}</p>
    <p class="text-white">Validation status: {{ series_form.status }}</p>
  </form>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>DEBUG POISTA KIRJA</p>
  <input class="w-auto" type="number" placeholder="ID" [(ngModel)]="remove_book_id">
  <button class="rounded-lg border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
    (click)="remove_book()">REMOVE</button>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>DEBUG HAE KIRJAT</p>
  <button class="rounded-lg border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
    (click)="show_books()">GET</button>
  <p class="text-white mt-4 md:mt-6" *ngIf="book_data">Fetched Data: {{ book_data | json }}</p>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>DEBUG HAE YKSI KIRJA</p>
  <input class="w-auto" type="number" placeholder="ID" [(ngModel)]="chosen_book_id">
  <button class="rounded-lg border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
    (click)="show_book()">GET</button>
  <p class="text-white mt-4 md:mt-6" *ngIf="single_book_data">Fetched Data: {{ single_book_data | json }}</p>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>DEBUG POISTA SARJA</p>
  <input class="w-auto" type="number" placeholder="ID" [(ngModel)]="remove_series_id">
  <button class="rounded-lg border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
    (click)="remove_series()">REMOVE</button>
  <hr class="my-4 border-b-2 border-neutral-500">
  <p>DEBUG HAE SARJAT</p>
  <button class="rounded-lg border-2 bg-neutral-500 border-black mt-4 md:mt-6 p-2 md:p-3"
    (click)="show_series()">GET</button>
  <p class="text-white mt-4 md:mt-6" *ngIf="series_data">Fetched Data: {{ series_data | json }}</p>
</div>