########
# app/ #
########

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/app/dist
/app/tmp
/app/out-tsc
/app/bazel-out

# Node
/app/node_modules
app/npm-debug.log
/app/yarn-error.log

# IDEs and editors
/app/.idea/
/app/.project
/app/.classpath
/app/.c9/
/app/*.launch
/app/.settings/
/app/*.sublime-workspace

# Visual Studio Code
/app/.vscode/*
/app/!.vscode/settings.json
/app/!.vscode/tasks.json
/app/!.vscode/launch.json
/app/!.vscode/extensions.json
/app/.history/*

# Miscellaneous
/app//.angular/cache
/app/.sass-cache/
/app//connect.lock
/app//coverage
/app//libpeerconnection.log
/app/testem.log
/app//typings

# System files
/app/.DS_Store
/app/Thumbs.db


###########
# server/ #
###########

server/HELP.md
server/target/
server/!.mvn/wrapper/maven-wrapper.jar
server/!**/src/main/**/target/
server/!**/src/test/**/target/

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr

### NetBeans ###
server/nbproject/private/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/
server/build/
server/!**/src/main/**/build/
server/!**/src/test/**/build/

### VS Code ###
server/.vscode/

############
# database #
############

database/data