<div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-75 text-white">
    <div class="bg-neutral-800 p-6 rounded-lg md:max-w-4xl md:min-w-96 w-max">
        <div class="relative">
            <img *ngIf="!image_url" src="../../assets/miscellaneous/cover_not_available.png"
                class="max-h-96 p-2 mx-auto">
            <img *ngIf="image_url" [src]="image_url" class="max-h-96 p-2 mx-auto">
            <p *ngIf="owned" class="absolute bottom-0 right-0 text-xs bg-green-500 text-white px-1 rounded">OMISTETTU
            </p>
        </div>
        <div class="md:flex">
            <div class="md:flex-1 max-w-xs">
                <div class="text-center md:text-left overflow-hidden">
                    <div>
                        <p><span class="font-extrabold">Kirjan nimi:</span> {{ title }}</p>
                        <p><span class="font-extrabold">Kirjailija:</span> {{ author }}</p>
                        <p><span class="font-extrabold">Vuosi:</span> {{ date }}</p>
                        <p><span class="font-extrabold">Sarja:</span> {{ series_name }}</p>
                        <div class="max-h-72 overflow-hidden">
                            <p class="whitespace-normal break-words"><span class="font-extrabold">Kirjan kuvaus: </span>{{ show_full_description ? description : (description.length > 100 ? description.substring(0, 100) + '...' : description) }}</p>
                        </div>
                        <button *ngIf="description.length > 100" (click)="toggle_description()" class="text-blue-500 underline mt-2 focus:outline-none">{{ show_full_description ? 'Näytä vähemmän' : 'Näytä enemmän' }}</button>
                    </div>
                </div>
            </div>
        </div>            
        <div mat-dialog-actions class="m-4 md:m-1 md:w-1/2 flex">
            <button mat-button (click)="closeDialog()"
                class="bg-neutral-500 rounded-md m-1 p-1 hover:brightness-75 text-black whitespace-nowrap">Sulje</button>
            <button *ngIf="!owned" (click)="add_copy()"
                class="bg-neutral-500 rounded-md m-1 p-1 hover:brightness-75 text-black whitespace-nowrap">Lisää</button>
        </div>
    </div>
</div>
