<div class="text-center">
  <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 p-4">
    <div class="flex flex-wrap justify-center">
      <ng-container *ngFor="let copy of displayedCopies">
        <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 flex-shrink-0 relative w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
          <div class="relative group">
            <div class="absolute top-0 left-0 bg-black bg-opacity-50 text-white p-1 rounded-md">
              <span *ngIf="copy.condition === 5" class="text-green-500">K5</span>
              <span *ngIf="copy.condition === 4" class="text-blue-500">K4</span>
              <span *ngIf="copy.condition === 3" class="text-yellow-500">K3</span>
              <span *ngIf="copy.condition === 2" class="text-orange-500">K2</span>
              <span *ngIf="copy.condition === 1" class="text-red-500">K1</span>
            </div>
            <img *ngIf="copy.book.image_url === 'none'" src="../../assets/miscellaneous/cover_not_available.png" [alt]="copy.book.title"
              class="h-48 md:h-64 md:w-48 w-32 max-w-max p-2 hover:brightness-75" (click)="show_copy_details(copy.id)">
            <img *ngIf="copy.book.image_url !== 'none'" [src]="copy.book.image_url" [alt]="copy.book.title"
              class="h-48 md:h-64 md:w-48 w-32 max-w-max p-2 hover:brightness-75" (click)="show_copy_details(copy.id)">
            <div
              class="absolute top-0 left-0 w-full h-full bg-gray-900 bg-opacity-75 text-white p-2 opacity-0 transition-opacity duration-300 group-hover:opacity-100 flex justify-center items-center cursor-pointer"
              (click)="show_copy_details(copy.id)">
              <p>{{ copy.book.title }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <button *ngIf="remainingCopies.length > 0" (click)="loadMoreCopies()" class="mt-4 underline font-bold py-2 px-4 rounded">
      Load More
    </button>
  </div>
</div>
