<div class="text-center overflow-x-hidden">
    <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 p-4">
        <p class="text-center mb-4">Uusimmat Sarjat</p>
        <div class="flex flex-nowrap overflow-x-auto">
            <img src="../../assets/example/example_02.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_01.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_04.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_06.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_05.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_08.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_07.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_10.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_09.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_11.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
        </div>
    </div>
    <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 p-4">
        <p class="text-center mb-4">Suositut Sarjat</p>
        <div class="flex flex-nowrap overflow-x-auto">
            <img src="../../assets/example/example_03.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_06.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_02.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_04.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_07.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_12.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_09.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_10.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_01.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_05.jpg" class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
        </div>
    </div>
</div>
