<div class="text-lg md:text-3xl lg:text-4xl text-amber-500 font-bold text-center overflow-x-hidden">
    <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 p-4">
        <p class="text-amber-500 text-center font-bold mb-4">Uusimmat Sarjat:</p>
        <div class="flex flex-nowrap overflow-x-auto">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
        </div>
    </div>
    <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 p-4">
        <p class="text-amber-500 text-center font-bold mb-4">Suositut Sarjat:</p>
        <div class="flex flex-nowrap overflow-x-auto">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-48 md:max-h-64 p-2">
        </div>
    </div>
</div>
