<div class="flex max-w-md justify-center items-center bg-neutral-800 rounded-md">
    <img src="../../assets/user/profile.jpg" alt="profiilinaamio" class="max-h-24 aspect-square p-2">
    <ul>
    <li class = "text-amber-500">Käyttäjänimi: käyttäjä</li>
    <li class = "text-amber-500">Sähköposti: placeholder(at)placeholder.com </li>
    <li class = "text-amber-500">etunimi: Jaska </li>
    <li class = "text-amber-500">sukunimi: Käyttäjä </li>
    <a href="#" class="text-blue-600 underline">muuta tietoja</a>
    </ul>
</div>


