<div class="text-center overflow-x-hidden">
    <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 p-4">
        <p class="text-center mb-4">Uusimmat ostetut kirjat</p>
        <div class="relative flex flex-nowrap">
            <div class="group max-h-48 md:max-h-64 p-2 hover:brightness-75 relative">
                <img src="../../assets/example/example_02.jpg" class="max-h-48 md:max-h-64 p-2">
                <div class="absolute bottom-0 right-4 opacity-0 group-hover:opacity-100">
                    <p class="text-black text-3xl font-bold bg-neutral-500">4-</p>
                </div>
            </div>
            <div class="group max-h-48 md:max-h-64 p-2 hover:brightness-75 relative">
                <img src="../../assets/example/example_06.jpg" class="max-h-48 md:max-h-64 p-2">
                <div class="absolute bottom-0 right-4 opacity-0 group-hover:opacity-100">
                    <p class="text-black text-3xl font-bold bg-neutral-500">3+</p>
                </div>
            </div>
        </div>
    </div>
</div>
