<div class="text-center overflow-x-hidden">
    <div class="flex flex-col items-center bg-nerd-50 rounded-lg mt-8 p-4">
        <div class="flex flex-nowrap overflow-x-auto gap-x-2 md:gap-x-4">
            <ng-container *ngFor="let book of books">
                <div class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
                    <!-- Display book information -->
                    <img *ngIf="book.image_url" [src]="book.image_url" [alt]="book.title">
                    <div *ngIf="!book.image_url"> <!-- Debugging text if image URL is not available -->
                        Image not available
                    </div>
                    <p>{{ book.title }}</p>
                    <p>{{ book.author }}</p>
                    <!-- Add other book properties as needed -->
                </div>
            </ng-container>
        </div>
    </div>
</div>
