<div class="text-center overflow-x-auto">
    <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 p-4">
        <div class="flex overflow-x-auto">
            <ng-container *ngFor="let book of books">
                <div class="flex flex-col items-center bg-nerd-50 rounded-md mt-4 flex-shrink-0 ">
                    <div class="">
                        <div *ngIf="book.image_url === 'none'">
                            <p class="overflow">{{ book.title }}</p>
                            <img src="../../assets/miscellaneous/cover_not_available.png" [alt]="book.title"
                                class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
                        </div>
                        <img *ngIf="book.image_url !== 'none'" [src]="book.image_url" [alt]="book.title"
                            class="max-h-48 md:max-h-64 p-2 hover:brightness-75">

                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>