<div class = "container bg-neutral-800">
    <form class="flex flex-col items-center justify-center h-screen">
        <div class="font-bold text-3xl text bg-neutral-800 text-amber-500" >
            <h1>Rekisteröidy.</h1>
        </div>
        <br>
        <div class="input_box">
        <label class="font-bold mb-5 text-amber-500">Sähköposti:</label>
        <input type="text" class="w-full px-8 py-2 border border-neutral-800 bg-gray-500 rounded box-border mb-5">
        </div>
        <div class="input_box">
        <label class="font-bold mb-5 text-amber-500">Salasana:</label>
        <input type="password" class="w-full px-8 py-2 border border-neutral-800 bg-gray-500 rounded box-border mb-5" id="password">
        </div>
        <div class= "class= bg-amber-500 text-white px-10 py-3 rounded cursor-pointer hover:bg-amber-500">
        <button type="submit"> Luo tili </button>
        </div>
    </form>
    </div>
