<div class="h-full flex justify-center">
    <div class="flex-col max-w-screen-lg">
        <nav class="flex text-center bg-white justify-center border-black border-2 min-h-20">
            <button class="border-black bg-white border-l-2">
              <a href="" class="text-3xl p-4">Kirjat</a>
            </button>
            <button class="border-black bg-white border-l-2">
              <a href="" class="text-3xl p-4">Lehdet</a>
            </button>
            <button class="border-black bg-white border-l-2">
              <a href="" class="text-3xl p-4">Sarjat</a>
            </button>
            <button class="border-black bg-white border-l-2">
              <a href="" class="text-3xl p-4">Profiili</a>
            </button>
            <button class="border-black bg-white border-l-2 border-r-2">
              <a href="" class="text-3xl p-4">________ 🔎︎</a>
            </button>
          </nav>
        <p class="font-mono font-bold text-amber-500 text-center text-3xl">
            Tervetuloa Arkisto.xyz sivustolle, kirja-arkiston kotipaikkaan!
        </p>
        <div class="flex-row bg-nerd-50 rounded-lg w-max">
            <div class="w-full h-max text-amber-500 text-center font-bold mt-52">
                <p>Uusimmat lisätyt kirjat:</p>
            </div>
            <div class="flex">
                <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
                <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
                <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
                <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
            </div>
        </div>
    </div>
</div>