<div class="h-full flex justify-center">
    <div class="flex-col h-5/6 mt-20 max-w-screen-lg">
        <p class="font-mono font-bold text-amber-500 text-center text-3xl">
            Tervetuloa Arkisto.xyz sivustolle, kirja-arkiston kotipaikkaan!
        </p>
        <div class="flex-row bg-nerd-50 rounded-lg w-max">
            <div class="w-full h-max text-amber-500 text-center font-bold mt-52">
                <p>Uusimmat lisätyt kirjat:</p>
            </div>
            <div class="flex">
                <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
                <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
                <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
                <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
            </div>
        </div>
    </div>
</div>