<div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-75 text-white">
  <div class="bg-neutral-800 p-6 rounded-lg md:max-w-4xl">
    <ng-container *ngIf="!editing; else editMode">
      <div style="display: grid; gap: 1rem;">
        <div style="display: flex; justify-content: space-between;">
          <label style="align-self: center;">Painos (Edition):</label>
          <div>{{ copy?.edition }}</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label style="align-self: center;">Painos vuosi (Edition Year):</label>
          <div>{{ copy?.editionYear }}</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label style="align-self: center;">Osto hinta (Purchase Price):</label>
          <div>{{ copy?.purchasePrice }}</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label style="align-self: center;">Osto päivämäärä (Purchase Date):</label>
          <div>{{ copy?.purchaseDate }}</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label style="align-self: center;">Kunto (Condition):</label>
          <div>{{ copy?.condition }}</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label style="align-self: center;">Kuvaus (Description):</label>
          <div>{{ copy?.description }}</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label style="align-self: center;">Myynti päivämäärä (Sale Date):</label>
          <div>{{ copy?.saleDate }}</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label style="align-self: center;">Myynti hinta (Sale Price):</label>
          <div>{{ copy?.salePrice }}</div>
        </div>
      </div>
      <button mat-button (click)="toggleEdit()" class="bg-neutral-500 rounded-md m-1 hover:brightness-75 text-black whitespace-nowrap">Muokkaa</button>
    </ng-container>

    <ng-template #editMode>
      <form [formGroup]="copyForm" (ngSubmit)="saveChanges()" style="display: grid; gap: 1rem;">
        <div style="display: flex; justify-content: space-between;">
          <label for="edition" style="align-self: center;">Painos (Edition):</label>
          <input type="number" id="edition" formControlName="edition" required class="text-black" style="text-align: right;">
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label for="editionYear" style="align-self: center;">Painos vuosi (Edition Year):</label>
          <input type="number" id="editionYear" formControlName="editionYear" required class="text-black" style="text-align: right;">
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label for="purchasePrice" style="align-self: center;">Osto hinta (Purchase Price):</label>
          <input type="number" id="purchasePrice" formControlName="purchasePrice" step="0.01" required class="text-black" style="text-align: right;">
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label for="purchaseDate" style="align-self: center;">Osto päivämäärä (Purchase Date):</label>
          <input type="date" id="purchaseDate" formControlName="purchaseDate" required class="text-black" style="text-align: right;">
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label for="condition" style="align-self: center;">Kunto (Condition):</label>
          <select id="condition" formControlName="condition" required class="text-black" style="text-align: right;">
            <option value="5">K5 - Uusi</option>
            <option value="4">K4 - Uudenveroinen</option>
            <option value="3">K3 - Hyvä</option>
            <option value="2">K2 - Tyydyttävä</option>
            <option value="1">K1 - Kehno</option>
          </select>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label for="description" style="align-self: center;">Kuvaus (Description):</label>
          <textarea id="description" formControlName="description" required class="text-black" style="text-align: right;"></textarea>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label for="saleDate" style="align-self: center;">Myynti päivämäärä (Sale Date):</label>
          <input type="date" id="saleDate" formControlName="saleDate" class="text-black" style="text-align: right;">
        </div>
        <div style="display: flex; justify-content: space-between;">
          <label for="salePrice" style="align-self: center;">Myynti hinta (Sale Price):</label>
          <input type="number" id="salePrice" formControlName="salePrice" step="0.01" class="text-black" style="text-align: right;">
        </div>
        <button type="submit" class="bg-neutral-500 rounded-md m-1 hover:brightness-75 text-black whitespace-nowrap">Tallenna muutokset</button>
      </form>
      <button mat-button (click)="toggleEdit()" class="bg-neutral-500 rounded-md m-1 hover:brightness-75 text-black whitespace-nowrap">Peruuta</button>
      <button mat-button (click)="add_photos()" class="bg-neutral-500 rounded-md m-1 hover:brightness-75 text-black whitespace-nowrap">Lisää valokuvia</button>
    </ng-template>

    <button mat-button (click)="closeDialog()" class="bg-neutral-500 rounded-md m-1 hover:brightness-75 text-black whitespace-nowrap">Sulje</button>
  </div>
</div>
