<div class="text-lg md:text-3xl lg:text-4xl text-amber-500 font-extrabold">
    <div class="flex border-2 justify-center items-center">
        <img src="../../assets/comics/example.jpg" alt="profiilinaamio" class="max-h-24 aspect-square p-2">
        <p class="self-center ml-2 md:ml-4">Käyttäjä</p>
    </div>
    <div class="flex flex-wrap justify-center mt-4">
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="border-2 p-4">
                <p class="text-center">Omat Kirjat</p>
                <img src="../../assets/comics/example.jpg" alt="Book 1" class="w-full h-48 md:h-64 object-cover mt-2">
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="border-2 p-4">
                <p class="text-center">Omat Sarjat</p>
                <img src="../../assets/comics/example.jpg" alt="Series 1" class="w-full h-48 md:h-64 object-cover mt-2">
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="border-2 p-4">
                <p class="text-center">Omat Suosikit</p>
                <img src="../../assets/comics/example.jpg" alt="Favorite 1" class="w-full h-48 md:h-64 object-cover mt-2">
            </div>
        </div>
    </div>
</div>