<div class="text-3xl text-amber-500 font-extrabold">
    <div class="flex border-2">
        <img src="../../assets/comics/example.jpg" alt="profiilinaamio" class="max-h-24 aspect-square p-2">
        <p class="self-center">Meikä_Poika69</p>
    </div>
    <div class="flex mt-2 border-2 justify-center">
        <p>Omat kirjat</p>
        
    </div>
    <div class="flex mt-2 border-2 justify-center">
        <p>Omat Sarjat</p>
        
    </div>
    <div class="flex mt-2 border-2 justify-center">
        <p>Suosikit</p>
        
    </div>
</div>