<div class="flex flex-col items-center">
    <div class="flex max-w-sm items-center bg-nerd-50 rounded-md ml-2">
        <p class="self-center m-2 md:m-4">{{ username }}</p>
    </div>
    <div class="flex-1 flex justify-between">
        <div class="flex items-center ml-2">
            <p class="text-left whitespace-no-wrap underline hover:brightness-75"
                [class.underline]="subcomponent === 'my_series'"(click)="show_my_series()">Omat Sarjat</p>
        </div>
        <div class="flex items-center ml-2">
            <p class="text-left whitespace-no-wrap underline hover:brightness-75"
                [class.underline]="subcomponent === 'my_books'" (click)="show_my_books()">Omat Kirjat
            </p>
        </div>
    </div>
    <div *ngIf="subcomponent === 'my_books'" class="text-md md:text-lg lg:text-2xl text-amber-500 font-bold">
        <app-my-books></app-my-books>
    </div>
    <div *ngIf="subcomponent === 'my_series'" class="text-md md:text-lg lg:text-2xl text-amber-500 font-bold flex min-w-full justify-center">
        <app-my-series class="min-w-full"></app-my-series>
    </div>
</div>