<div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-75 text-white">
  <div class="bg-neutral-800 p-6 rounded-lg md:max-w-4xl min-w-2xl">
    <div class="relative">
    </div>
    <div class="md:flex md:justify-between">
      <div class="md:flex-shrink-0 max-w-xs">
        <div class="text-center md:text-left">
          <p><span class="font-extrabold">Sarjan nimi:</span> {{ title }}</p>
          <p><span class="font-extrabold">Kustantaja:</span> {{ publisher }}</p>
          <p><span class="font-extrabold">Kuvaus:</span> {{ description }}</p>
          <p><span class="font-extrabold">Luokittelu:</span> {{ category }}</p>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="m-4 md:m-1 md:w-1/2 flex justify-between">
      <button mat-button (click)="closeDialog()"
        class="bg-neutral-500 rounded-md m-1 hover:brightness-75 text-black whitespace-nowrap">Sulje</button>
    </div>
  </div>
</div>