<div class="text-lg md:text-3xl lg:text-4xl text-amber-500 font-bold text-center">
    <p class="font-mono text-amber-500 text-3xl">
        Tervetuloa Arkisto.xyz sivustolle, kirja-arkiston kotipaikkaan!
    </p>
    <div class="flex flex-col items-center bg-nerd-50 rounded-lg mt-8 p-4">
        <p class="text-amber-500 text-center font-bold mb-4">Uusimmat lisätyt kirjat:</p>
        <div class="flex flex-wrap justify-center">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
            <img src="../../assets/comics/example.jpg" alt="mustanaamio" class="max-h-96 p-2">
        </div>
    </div>
</div>
