<div class="text-center overflow-x-hidden">
    <p> Tervetuloa Arkisto.xyz sivustolle, kirja-arkiston kotipaikkaan! </p>
    <div class="flex flex-col items-center bg-nerd-50 rounded-lg mt-8 p-4">
        <p>Uusimmat lisätyt kirjat</p>
        <div class="flex flex-nowrap overflow-x-auto gap-x-2 md:gap-x-4">
            <img src="../../assets/example/example_03.jpg" alt="mustanaamio"
                class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_05.jpg" alt="mustanaamio"
                class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_04.jpg" alt="mustanaamio"
                class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_06.jpg" alt="mustanaamio"
                class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_01.jpg" alt="mustanaamio"
                class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
            <img src="../../assets/example/example_02.jpg" alt="mustanaamio"
                class="max-h-48 md:max-h-64 p-2 hover:brightness-75">
        </div>
    </div>
</div>