<div class="text-center overflow-x-hidden">
    <p class="font-black mb-10 font-light">Tervetuloa Arkisto.xyz sivustolle, kirja-arkiston kotipaikkaan!</p>
    <p class="font-light">Uusimmat lisätyt kirjat</p>
    <app-carousel></app-carousel>
    <div class="flex flex-col md:flex-row items-start mt-8">
      <div class="w-full md:w-1/3">
        <p class="font-extrabold">Uusimmat lisätyt sarjat</p>
        <app-series [frontpage]="true"></app-series>
      </div>
      <div class="w-full md:w-2/3 md:mt-20 md:ml-4 mt-4">
        <div class="p-2">
          <p class="pb-6 text-3xl font-extrabold">Tietoa</p>
          <p class="font-extralight">Arkisto.xyz sivusto toimii ohjelmistotuotanto II kurssiprojektin lopullisena sijaintina internetissä. 
            Tarkoituksena on koko sovelluksen hostaus ja käyttäminen tämän sivuston kautta. 
            Toistaiseksi verkkosivu toimii vain projektin tekijöiden reittinä päästä käsiksi yhteiseen tietokantaan.</p>
        </div>
      </div>
    </div>
  </div>
  